.h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-display: 18px;
    font-weight: bold;
    font-style: underline;
    color: violet;
    text-align: center;
}
